
/* -- ESTILOS GENERALES ----------------------------------------- */

body {
    font-family: Arial, sans-serif;
    background: #ebddc0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-center{
    text-align: c;
}

.container {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;  
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #e28e4a;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #ffc370;
    transition: 0.2s;
}
button:not(:hover) {
    background: #e28e4a;
    transition: 0.2s;
}
button:disabled {
    background: #d3d3d3;
    color: #888;          
    cursor: not-allowed;  
}

/* -- COMPONENTES ESPECÍFICOS ----------------------------------- */

.menu {
    text-align: center;
    font-size:x-large;
    margin-bottom: 20px;
}

/* -- GAMIFICACIÓN ---------------------------------------------- */

.user-xp {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: rgba(204, 170, 46, 0.15);
  padding: 8px 14px;
  border-radius: 12px;

  font-size: 1rem;
  font-weight: 600;
  color: #f07d0b;

}

/* -- OPCIONES DEL AREA ----------------------------------------- */

.current-area {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #a17f59;
}


.area-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8f3ea;
    transition: 0.2s;
}

.area-item:hover {
    background: #f3b66f;
}
.area-item input[type="radio"] {
    width: auto;
    margin: 0;
}



/* -- OPCIONES DEL QUIZ ----------------------------------------- */

.quiz-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8f3ea;
    transition: 0.2s;
    margin-bottom: 10px;
}
.quiz-option:hover {
    background: #f3b66f;
}
.quiz-option input[type="radio"] {
    width: auto;
    margin: 0;
}

/* -- Feedback -- */
.correct {
    border: 2px solid rgb(46, 204, 113); 
    background-color: rgba(46, 204, 113, 0.15);
    transition: background-color 1s ease;
}
.incorrect {
    border: 2px solid rgb(231, 76, 60); 
    background-color: rgba(231, 76, 60, 0.15 );
    transition: background-color 1s ease;
}
