body {
    font-family: Arial, sans-serif;
    background: #e9ebc0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-center{
    text-align: c;
}

.container {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;  
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #e2a34a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #ffb642;
}

button:disabled {
    background: #d3d3d3;
    color: #888;          
    cursor: not-allowed;  
}


/* -- Opciones del Area -- */

.area-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8f3ea;
    transition: 0.2s;
}

.area-item:hover {
    background: #f3b66f;
}

.area-item input[type="radio"] {
    width: auto;
    margin: 0;
}

/* -- Opciones del Quiz -- */

.quiz-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8f3ea;
    transition: 0.2s;
    margin-bottom: 10px;
}

.quiz-option:hover {
    background: #f3b66f;
}

.quiz-option input[type="radio"] {
    width: auto;
    margin: 0;
}

.correct {
    border: 2px solid rgb(46, 204, 113); 
    background-color: rgba(46, 204, 113, 0.15);
    transition: background-color 1s ease;
}

.incorrect {
    border: 2px solid rgb(231, 76, 60); 
    background-color: rgba(231, 76, 60, 0.15);
    transition: background-color 1s ease;
}
